<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="com.obsqura.TestNGProject.TestScript">
      <methods>
      <include name = "softAssetSample"></include>
      </methods>
      </class>-->
    <!-- <class name="com.obsqura.TestNGProject.Locators"> 
     <methods>
     <include name = "xPathText"></include>
     </methods> 
     </class>-->
    <!-- <class name="com.obsqura.TestNGProject.XPath"/>-->
     <!-- <class name="com.obsqura.TestNGProject.BasicCommandsOB">
     <methods>
     <include name = "getLocation"></include>
     </methods>
     </class>-->
    <!-- <class name="com.obsqura.TestNGProject.Sum"/>-->
    
   <!-- <class name="com.obsqura.TestNGProject.RadioButtonDemo">
    <methods>
    <include name ="guruRadioButton"></include>
    </methods>
    </class>-->
    
    <class name="com.obsqura.TestNGProject.RadioButtonDemo">
    <methods>
    <include name="malePatientGenderAge"></include>
    </methods>
    </class>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
